*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

header{
    background-color: #FF6900;
    width: 100%;
}

.h-container{
    width: 80%;
    display: flex;
}

.fixed{
    position: fixed;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

header ul{
    display: flex;
    color: white;
    margin: 10px;
    list-style-type: none;
}

header img{
    height: 2.5rem;
    margin: 20px 0;
}

header ul li{
    margin: 20px 10px;
    font-size: 1.2rem;
}

.container{
    width: 80%;
    margin: auto;
}

.colonne{
    display: flex;
    flex-wrap: wrap;
    
}




