*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

header{
    background-color: #FF6900;
    width: 100%;
    z-index: 1;
}

.h-container{
    width: 80%;
    display: flex;
}

.fixed{
    position: fixed;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

header ul{
    display: flex;
    color: white;
    margin: 10px;
    list-style-type: none;
}

header img{
    height: 2.5rem;
    margin: 20px 0;
}

header ul li{
    margin: 20px 10px;
    font-size: 1.2rem;
}

.container{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 32%;
    margin-top: 100px;
    position: relative;

}

.img{
    width: 100%;
    object-fit: contain;
}

.heart{
    position: absolute;
    background-color: white;
    right: 0;
    padding: 10px;
    top: 10px;
}

.sconto{
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 100px;
}

.red{
    background-color: red;
}

.sustain{
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

.green{
    background-color: green;
}

.details{
    margin: 0;
    line-height: auto;
}

.item{
    font-weight: bolder;
}

.price{
    font-weight: bolder;
    color: red;
}

.old-price{
    text-decoration: line-through;
}

.left{
    position: absolute;
    left: 0;
}

footer{
    background-color: rgb(26,26,26);
    color: white;
}

    

.f-container{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
}

footer ul{
    list-style-type: none;
    display: flex;
    padding: 10px;
}

footer li{
    padding: 5px;
}

.img2{
    display: none;
    width: 100%;
    object-fit: contain;
}

.card:hover .img{
    display: none;
}

.card:hover .img2{
    display: block;
}

.heart:hover{
    color: red;
}

header li:hover{
    text-decoration: underline;
}